{% extends "blogs/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
<h1>{{ post.title }}</h1>
{% endblock page_header %}

{% block content %}    

<div class="card mb-3">
   <h4 class="card-header">
      {{ post.date_added }}
   </h4>

   <div class="card-body">
      
      {{ post.text|linebreaks }}
      {% if user.is_authenticated %}
    <small>
       <a href="{% url 'blogs:edit_post' post.id %}">Edit post</a>
    </small>
   </div>
    {% endif %}
</div>

 
{% endblock content %}